@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow:wght@400;500;600;700&family=Raleway&display=swap');

/*
Colors
.dark-primary-color{background:#303F9F}
.default-primary-color{background:#3F51B5}
.light-primary-color{background:#C5CAE9}
.text-primary-color{color:#FFFFFF}
.accent-color{ background:#607D8B}
.primary-text-color{color:#212121}
.secondary-text-color{color:#757575}
.divider-color{border-color:#BDBDBD}
*/

/* Basic Styles */
body{background:#fff;font-family:'Raleway',sans-serif;font-size:16px;line-height:1.6;color:#212121;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;-webkit-text-size-adjust:100%;margin:0}
h1,
h2,
h3,
h4,
h5{font-family:'Archivo Narrow';margin:0}
#overlay{position:absolute;top:0;left:0;right:0;bottom:0;background:rgba(0,0,0,0);transition:1s;overflow:hidden}
#main{position:relative;top:0;left:0;overflow:hidden;padding-right:56px}

/* Navigation */
header{position:fixed;top:0;right:-56px;bottom:0;z-index:1;width:56px;background:#3F51B5;opacity:0;transition:1.3s}
nav{height:100%}
#nav{display:flex;flex-direction:column;justify-content:space-between;flex-wrap:wrap;align-items:center;align-content:center;height:100%;margin:0;padding:0}
#nav li{position:relative;display:block;height:33.33%;width:100%;transform:rotate(90deg)}
#nav li a{position:absolute;top:50%;transform:translateY(-50%);display:block;text-decoration:none;color:#fff;transition:0.3s;font-size:20px}
#nav li a:hover{color:#757575}

/* Navigation Items */
#nav-items{position:fixed;top:0;left:0;right:0;bottom:0;z-index:-1;overflow:hidden}
#nav-container{position:absolute;top:0;bottom:0;right:-45vw;z-index:1;width:45vw;background:none}
.nav-item{position:relative;z-index:-1}
#close-nav{position:absolute;top:57px;right:15px;width:36px;height:36px}

#about{display:none;height:calc(100% - 100px);padding:50px 100px;background:#fff}
#about h2{font-size:30px}
.about-img{position:absolute;bottom:0;left:0;z-index:-1;width:500px;height:281px}

#work{display:none;overflow:scroll;height:calc(100% - 100px);-ms-overflow-style:none;scrollbar-width:none;padding:50px 100px;background:#C5CAE9}
#work::-webkit-scrollbar{display:none}
#work h2{font-size:30px}
#works-container{display:flex;flex-direction:row;justify-content:space-between;flex-wrap:wrap;align-items:center;align-content:center;height:auto;margin:30px -15px 0}
.work-container{position:relative;width:calc(33.33% - 30px);margin:15px;text-decoration:none;overflow:hidden;}
.work-container h3{font-size:18px;color:#212121;font-weight:400;text-align:center;margin:15px 0 0}
.work-img{position:relative;width:100%;height:200px;transition:0.5s}
.work-img:after{content:'';position:absolute;top:0;left:0;right:0;bottom:0;background:#fff;opacity:0;transition:0.5s}
.work-container:hover .work-img{transform:scale(1.025)}
.work-container:hover .work-img:after{opacity:0.7}

#contact{display:none;background:#fff9f0;height:calc(100% - 100px);padding:50px 100px}
#contact h2{font-size:30px;margin:0 0 30px}
#contact>div:first-of-type{display:flex;flex-direction:row;justify-content:space-between;flex-wrap:wrap;align-items:center;align-content:center;width:50%;float:left}
#contact>div>a{width:100%;margin:0 0 15px}
#contact>div a{color:#212121;text-decoration:none;}
#contact div div a{margin:0 15px 0 0}
#contact form{display:flex;flex-direction:row;justify-content:space-between;flex-wrap:wrap;align-items:center;align-content:center;width:50%;float:right;margin:0 0 50px}
#name{background:none;border:none;border-bottom:1px solid #BDBDBD;display:block;width:45%}
#email{background:none;border:none;border-bottom:1px solid #BDBDBD;display:block;width:45%}
#message{background:none;border:none;border-bottom:1px solid #BDBDBD;display:block;width:100%;margin:15px 0;font-family:'Raleway',sans-serif;height:100px}
#submit{background:none;border:none;font-family:'Raleway',sans-serif;margin:0 auto;cursor:pointer}
#name:focus, #email:focus, #message:focus{outline:none;border-bottom:1px solid #000}
#name::placeholder, #email::placeholder, #message::placeholder{font-family:'Raleway',sans-serif;color:#212121}
#mail-img{display:block;margin:0 auto;width:500px;height:300px;clear:both}

/* Slider */
#slider{position:relative;height:75vh;padding:0 30px;padding-right:86px;background:#607D8B;overflow:hidden}
#slider h1{position:absolute;top:50%;left:30px;font-size:72px;opacity:0;transition:1.3s;color:#fff}
#slider h1 span{display:block;font-size:30px}
#slider:after{content:'';position:absolute;bottom:0;left:0;right:0;height:2px;background:#BDBDBD}

@keyframes ripple{
  0%{transform:scale(0.8)}
  
  50%{transform:scale(1.2)}
  
  100%{transform:scale(0.8)}
}
.circle{position:absolute;border-radius:50%;background:#fff;animation:ripple 15s infinite;box-shadow:0px 0px 1px 0px #508fb9}
.small{width:250px;height:250px;right:-50px;bottom:-100px}
.medium{width:500px;height:500px;right:-150px;bottom:-200px}
.large{width:750px;height:750px;right:-250px;bottom:-300px}
.xlarge{width:1000px;height:1000px;right:-350px;bottom:-400px}
.xxlarge{width:1250px;height:1250px;right:-450px;bottom:-500px}
.shade1{opacity:0.2}
.shade2{opacity:0.5}
.shade3{opacity:0.7}
.shade4{opacity:0.8}
.shade5{opacity:0.9}

/* Projects */
#projects{display:flex;flex-direction:row;justify-content:space-between;flex-wrap:wrap;align-items:center;align-content:center}
.project-container{position:relative;width:50%;height:500px;text-decoration:none;overflow:hidden;}
.project-container h3{position:absolute;top:50%;left:50%;transform:translate(-50%);z-index:1;color:#fff;opacity:0;transition:0.5s;font-size:24px}
.project-img{position:relative;width:100%;height:100%;transition:0.5s}
.project-img:after{content:'';position:absolute;top:0;left:0;right:0;bottom:0;background:#000;opacity:0;transition:0.5s}
.project-container:hover h3{opacity:1}
.project-container:hover .project-img{transform:scale(1.025)}
.project-container:hover .project-img:after{opacity:0.7}

/* Footer */
footer span{display:block;background:#303F9F;padding:15px;padding-right:71px;text-align:center;color:#fff}

@media only screen and (max-width:1440px){
  #about,
  #work,
  #contact{padding:50px}

  .work-container{width:calc(50% - 30px)}

  .project-container{height:400px}
}

@media only screen and (max-width:991px){
  #nav-container{width:100%;right:-100vw}

  .small{width:200px;height:200px;right:-50px;bottom:-100px}
  .medium{width:400px;height:400px;right:-150px;bottom:-200px}
  .large{width:600px;height:600px;right:-250px;bottom:-300px}
  .xlarge{width:800px;height:800px;right:-350px;bottom:-400px}
  .xxlarge{width:1000px;height:1000px;right:-450px;bottom:-500px}

  .project-container h3{opacity:1}
  .project-img:after{opacity:0.7}
}

@media only screen and (max-width:479px){
  #slider h1{font-size:54px}
  #slider h1 span{font-size:22px}

  #about p{font-size:14px}
  .work-container{width:100%}
  #contact>div:first-of-type,
  #contact form{float:none}
  #contact form{margin:50px 0;width:100%}

  .small{width:150px;height:150px;right:-25px;bottom:-75px}
  .medium{width:300px;height:300px;right:-125px;bottom:-175px}
  .large{width:450px;height:450px;right:-225px;bottom:-275px}
  .xlarge{width:600px;height:600px;right:-325px;bottom:-375px}
  .xxlarge{width:750px;height:750px;right:-425px;bottom:-475px}

  .project-container{width:100%;height:250px}
}